<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidschool.andersenhomeworks">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndersenHomeworks">

        <!--        MainActivity        -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--        ActivityLesson1_2       -->
        <activity
            android:name=".lessons1_2.ActivityLessons1_2"
            android:label="@string/activityLesson1_2_label">
        </activity>

        <!--        ActivityLesson3Part1        -->
        <activity
            android:name=".lesson3.part1.ActivityLesson3Part1"
            android:label="@string/activityLesson3_part1_label">
        </activity>

        <!--        ActivityLesson3Part2        -->
        <activity
            android:name=".lesson3.part2.ActivityLesson3Part2"
            android:label="@string/activityLesson3_part2_label">
        </activity>

        <!--        ActivityLesson4        -->
        <activity
            android:name=".lesson4.ActivityLesson4"
            android:label="@string/activityLesson4_label">
        </activity>

        <!--        ActivityLesson5        -->
        <activity
            android:name=".lesson5.ActivityLesson5"
            android:label="@string/activityLesson5_label"
            android:theme="@style/Theme.Lesson5">
        </activity>

        <!--        ActivityLesson6        -->
        <activity
            android:name=".lesson5.ActivityLesson6"
            android:label="@string/activityLesson6_label"
            android:theme="@style/Theme.Lesson5">
        </activity>

    </application>

</manifest>